body {
  background-color: #58d68d;
  text-align: center;
  font: Helvetica;
}

.search-bar {
  margin-bottom: 25px;
}

input

button {
  border-radius: 0px;
  padding: 5px;

}

#table-header {
  background-color: #f5b041;
}

.odd-row {
  background-color: #f8c471;
}

.even-row {
  background-color: #f7dc6f;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right:auto;
}

tr {
  margin: 0px;
}

th, td {
  margin: 0px;
  padding: 8px;
  .border: 0px solid gray;
}
